h1 { 
    border color: red;
    border-style: double;
    border width: inherit;
    
}
h2 { 
    border color: greenyellow;
    border-style: double;
    border width: static ;
    
}
h3 { 
    border color: blue;
    border-style: double;
    border width: inherit;
    
}
